.main {
    width: 1192px;
    margin: 0 auto;
}

.clearFixed:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

@mixin translate {
    transition: all .2s linear;
    &:hover {
        cursor: pointer;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
        transform: translate3d(0, -5px, 0);
        z-index: 3;
    }
}